.list_container {
    text-align: center;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

@media only screen and (max-width: 600px) {
    .list_container {
    flex-direction: column;
    }
    
}