.popup {
    position: fixed;
    top: 28%;
    left: 28%;
    width: 50%;
    height: 50vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:auto;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: aqua;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}