.popup {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: auto;
        backdrop-filter: blur(2px);
        animation: Fade-in 0.4s linear;

}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: aqua;   
}

@keyframes Fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

